body {
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://en.pimg.jp/030/129/589/1/30129589.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header {
    display: flex;
    justify-content: space-around;
}

.Container {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.8)
}



.bodyContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
}


.deleteButton {
    position: absolute;
    margin-left: 500px;
}

#reviewForm {
    display: flex;
    flex-direction: column;
}


#reviewSubmit:hover {
    cursor: pointer;
}